# Server
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb://127.0.0.1:27017/inkwell_blog

# Auth
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d
SESSION_SECRET=replace_this_with_another_long_random_secret

# Cookie
COOKIE_NAME=inkwell_token
